<ion-header>
  <ion-toolbar>
    <ion-title>{{ config.TEXTS.TASK_TITLE_PLACEHOLDER }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-add-task *ngIf="showAddTaskButton$ | async" (addTask)="addTask($event)"></app-add-task>
  <app-category-filter  *ngIf="enableCategoryFilter$ | async"  (filterCategory)="filterCategoryId = $event"></app-category-filter>
<app-tasks
    [filterCategoryId]="filterCategoryId"
    [allowTaskDeletion]="allowTaskDeletion$ | async">
  </app-tasks></ion-content>
