<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="4" *ngFor="let task of filteredTasks">
      <ion-card class="task-card" (click)="openEditTaskModal(task)">
        <ion-card-content>
          <div class="task-content">
            <div class="task-details">
              <h2 class="task-title" [ngClass]="{ completed: task.status === config.STATUSES.COMPLETED }">
                {{ task.title }}
              </h2>
              <p class="task-category">{{ task.categoryId || config.TEXTS.NO_CATEGORY_TEXT }}</p>
            </div>
            <div class="task-actions">
              <ion-checkbox
                class="task-checkbox"
                [checked]="task.status === config.STATUSES.COMPLETED"
                (ionChange)="toggleCompletion(task); $event.stopPropagation()"
              ></ion-checkbox>
            </div>
          </div>
          <div class="task-separator"></div>
          <div class="task-footer">
            <p class="task-date">{{ task.date | date }}</p>
            <ion-button
              *ngIf="allowTaskDeletion"
              (click)="presentDeleteConfirm(task); $event.stopPropagation()"
              color="danger"
              fill="clear"
              class="delete-button"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-modal [isOpen]="isEditTaskModalOpen" (ionModalDidDismiss)="closeEditTaskModal()" class="custom-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar class="no-shadow-toolbar">
        <ion-button color="danger" fill="clear" slot="end" (click)="closeEditTaskModal()">
          <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-update-task
        [task]="selectedTask"
        [allowTaskUpdate]="allowTaskUpdate"
        (taskUpdated)="onTaskUpdated($event)"
      ></app-update-task>
    </ion-content>
  </ng-template>
</ion-modal>
