<ion-list>
  <ion-item *ngFor="let task of filteredTasks">
    <ion-label [class.completed]="task.completed">
      {{ task.title }} ({{ task.categoryId || config.TEXTS.NO_CATEGORY_TEXT }})
    </ion-label>
    <ion-checkbox
      [attr.slot]="config.CHECKBOX.COMPLETION.SLOT"
      [(ngModel)]="task.completed"
      (ionChange)="toggleCompletion(task)"
    ></ion-checkbox>
    <ion-button
      [attr.slot]="config.BUTTONS.DELETE_TASK.SLOT"
      [color]="config.BUTTONS.DELETE_TASK.COLOR"
      (click)="deleteTask(task.id)"
    >
      {{ config.BUTTONS.DELETE_TASK.TEXT }}
    </ion-button>
  </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreTasks($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando más tareas..."
  ></ion-infinite-scroll-content>
</ion-infinite-scroll>
