.search-container {
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin: 20px;
  padding: 10px 16px;

}

.search-icon,
.filter-icon,
.clear-icon {
  font-size: 1.4rem;
}

.search-icon {
  margin-right: 10px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
}

.clear-icon {
  font-size: 1.4rem;
}

.filter-icon {
  margin-left: 10px;
  font-size: 1.4rem;
}
